<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/static/images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/styleAdmin.css">
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
    <title>Produits</title>
</head>
<body class="home">
<nav class=" navbar navbar-expand-lg navbar-dark bg-info">
    <div class="main-navbar mr-5">
        <a class="navbar-brand w-100 ml-5" href="#"> AdminPage </a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="icon.png" width="40px" height="40px" alt=""/>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">We-Shop<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline">
                <button class="btn btn-warning my-2 mr-1 " type="submit">Log out</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <a href="/addProduct" class="btn btn-primary my-3">Add Product</a>
    <form th:action="@{/admin/search}" method="get">
        <label>Product Name</label>
        <input type="text" name="name"/>
        <button class="btn btn-primary">Search</button>
    </form>
    <div class="card mt-5">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>Product Name</th>
                    <th class="hidden-xs w-15 text-center">Price</th>
                    <th class="hidden-xs w-15 text-center">Description</th>
                    <th class="text-center" style="width: 100px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listProduits}">
                    <td class="text-center" th:text="${p.id}"></td>
                    <td class="text-center" th:text="${p.nom}"></td>
                    <td class="text-center" th:text="${p.prix}"></td>
                    <td class="text-center" th:text="${p.description}"></td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                    title="Edit product">
                                <a th:href="@{/admin/edit(id=${p.id})}">
                                    <ion-icon name="create"></ion-icon>
                                </a>
                            </button>
                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                    title="Remove product">
                                <a onclick="return confirm('Are you sure , you want to delete this product !')"
                                   th:href="@{/admin/delete(id=${p.id},page=${currentPage})}">
                                    <ion-icon name="close"></ion-icon>
                                </a>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="float: none ; margin: 0 auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination my-4">
                <li th:class="${currentPage}==${status.index}?'page-item active':'page-item'"
                    th:each="pa,status:${pagesLentgh}">
                    <a th:href="@{admin(page=${status.index})}" th:text="${status.index}" class="page-link"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>

