<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/static/images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/styleLogin.css}">
    <title>Register</title>
</head>
<body>
<div class="container pb-2 ">
    <div class="row ">
        <div class=" col-9 ">
            <div class="col-lg-5 card card-signin  my-5 ">
                <div class=" card-body ">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin " method="post" th:object="${client}" th:action="@{/register}">
                        <div class="form-label-group">
                            <input type="text" th:field="${client.user.username}" class="form-control" placeholder="Username" required
                                   autofocus>
                            <span class="alert-danger bg-light small">
                            </span>
                        </div>

                        <div class="form-label-group">
                            <input type="email" th:field="${client.email}" class="form-control" placeholder="Email address" required>
                            <span class="alert-danger bg-light small">
                            </span>
                        </div>

                        <hr>

                        <div class="form-label-group">
                                <input type="password" th:field="${client.user.password}" id="password" class="form-control"
                                   placeholder="Password" required>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="repeat-psw" id="confirm_password" class="form-control"
                                   placeholder="Confirm Password" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                        <a class="d-block text-center mt-2 small" href="/login">Sign In</a>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 register-left">
            <div class="my-5 text-center description">
                <img src="/static/images/icon.png" width="200px" height="200px" alt=""/>
                <h1>Welcome to We-Shop </h1>
            </div>
        </div>
    </div>
</div>

</body>
</html>